@{
    ViewData["Title"] = "Chính sách bảo mật";
    Layout = "_Layout";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chính sách bảo mật</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Chính sách bảo mật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Quyền riêng tư của bạn</h3>
                    </div>
                    <div class="card-body">
                        <p>Sử dụng trang này để trình bày chi tiết chính sách bảo mật của trang web của bạn.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>