@model bookstoree.Models.Category

@{
    ViewData["Title"] = "Xóa danh mục";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa mục này không?</h3>
<div>
    <h4>Danh mục</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
