@model bookstoree.Models.Category

@{
    ViewData["Title"] = "Category Details";
    Layout = "_Layout";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6" style="display: flex ; justify-content: flex-end;">
                <h1>Category Details</h1>
            </div>
            <div class="col-sm-6" style="display: flex ; justify-content: flex-end;">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Chi tiết</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Category Information</h3>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class = "col-sm-4">
                                @Html.DisplayNameFor(model => model.CategoryName)
                            </dt>
                            <dd class = "col-sm-8">
                                @Html.DisplayFor(model => model.CategoryName)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@Model?.CategoryId" class="btn btn-info">Edit</a> |
                        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
